@using DoAnWeb.Models;
@model ThanhVien

@{
    ViewBag.Title = "DangKy";
    Layout = "~/Views/Layouts/HeaderAndFooterLayout.cshtml";
}

<section id="signup">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <hr />
        @Html.ValidationSummary(true)

        <h1 class="form-heading"><span>Đăng ký</span></h1>
        <div class="form-group">
            <i class=""></i>
            <input type="text" name="HoTen" class="form-input" placeholder="Họ Và Tên"><br />
           
        </div>
        <div class="form-group">
            <i class=""></i>
            <input type="text" name="Email" class="form-input" placeholder="Email">
            
        </div>
        <div class="form-group">
            <i class="fa fa-user"></i>
            <input type="text" name="TaiKhoan" class="form-input" placeholder="Tài Khoản">
        </div>
        <div class="form-group">
            <i class="fa fa-key"></i>
            <input type="password" name="MatKhau" class="form-input" placeholder="Mật khẩu">
        </div>
        <div class="form-group">
            <i class="fa fa-key"></i>
            <input type="password" name="NhapLaiMatKhau" class="form-input" placeholder="Nhập lại mật khẩu">
        </div>
        <div>
            <h3>@Html.ValidationMessageFor(n => n.HoTen)</h3>
            <h3>@Html.ValidationMessageFor(n => n.Email)</h3>
            <h3> @Html.ValidationMessageFor(n => n.TaiKhoan)</h3>
            <h3> @Html.ValidationMessageFor(n => n.MatKhau)</h3>
            <h3>@ViewBag.LoiXacNhanMatKhau</h3>
            <h3>@ViewBag.TonTai</h3>
            <h3 class="thanhcong">@ViewBag.DangKyThanhCong</h3>
        </div>
        <input type="submit" value="ĐĂNG KÝ" class="form-submit">
        <p>Bạn đã có tài khoản? Đăng nhập <a style="color:red; text-decoration-line: underline" href="@Url.Action("DangNhap","Home")"> tại đây.</a></p>
    }
</section>
<style>
    h3{
        color:red;
    }
    .thanhcong{
        color:green;
    }
</style>
