@using DoAnWeb.Models;
@model List<ItemGioHang>


@{
    ViewBag.Title = "XemGioHang";
    Layout = "~/Views/Layouts/HeaderAndFooterLayout.cshtml";
}


<section class="cart">
    <div class="containers">
        <div class="cart-top row">
            <p><a href="@Url.Action("Index","Home")">Trang chủ</a></p><span>&gt;</span><p>Giỏ hàng</p>
        </div>
    </div>
    <div class="cart-title">
        <h1>Giỏ hàng</h1>
    </div>
    <div class="cart-content row">
        <div class="cart-content-left row">
            <div class="cart-header-left row">
                <div class="cart-header-left-product">
                    <span>Sản phẩm</span>
                </div>
                <div class="cart-header-left-price">
                    Đơn giá
                </div>
                <div class="cart-header-left-quantity">
                    Số lượng
                </div>
                <div class="cart-header-left-total-price">
                    Thành tiền
                </div>
                <div class="cart-header-left-delete">
                    Xóa
                </div>

            </div>
            @{
                decimal tongtien = 0;
            }


            @if (Model == null || Model.Count == 0)
            {
                <div style="text-align:center"> <h1 style="color:green; text">@ViewBag.DatHangThanhCong</h1></div>
                <div style="text-align:center"> <h1 style="color:red; text">Giỏ Hàng Rỗng</h1></div>
            }
            else
            {
                foreach (var item in Model)
                {
                    <div class="cart-list-item">
                        <div class="cart-list-item-new row">
                            <div class="cart-header-left-product row">
                                <img src="@Url.Content("~/Content/images/"+item.HinhAnh)" alt="" class="cart-header-left-product-img">
                                <div class="cart-header-left-product-info">
                                    <a href="#" class="cart-header-left-product-info-name">
                                        @item.TenSP
                                    </a>
                                    <span class="cart-header-left-product-info-sku">
                                        MÃ SP : @item.MaSP
                                    </span>
                                </div>
                            </div>
                            <div class="cart-header-left-price">
                                <span class="cart-item-price">@item.DonGia.ToString("#,##") đ</span>
                                @*<span class="cart-item-old-price">22.999.000 đ</span>*@
                            </div>
                            <div class="cart-header-left-quantity">
                                <span>@item.SoLuong</span>
                            </div>
                            <div class="cart-header-left-total-price">
                                <b class="cart-item-prices">@item.ThanhTien.ToString("#,##")</b>
                                <b style="font-size: 16px;color: #ee2724;">đ</b>
                            </div>
                            <div class="cart-header-left-delete">
                                <a class="fa fa-trash" href="@Url.Action("XoaGioHang","GioHang",new { @MaSP=item.MaSP})"></a>
                            </div>
                        </div>
                    </div>
                    {

                        tongtien = tongtien + item.ThanhTien;
                    }
                }
            }


        </div>
        <div class="cart-content-right">
            <div class="cart-box-total-price row">
                <p>
                    <span>Tạm tính:</span>
                    <span class="total-cart-price">@tongtien.ToString("#,##") đ</span>
                </p>
                <p>
                    <span>Thành tiền:</span>
                    <span class="red-b total-cart-payment">@tongtien.ToString("#,##") đ</span>
                </p>
                <span class="cart-vat">(Đã bao gồm VAT nếu có)</span>
            </div>

        </div>
    </div>

    @*----------------------------------------------------------------------------------------------------------------------*@

    @if (Model != null && Model.Count != 0)
    {
        if (Session["DangNhap"] != null && Session["DangNhap"] != "")
        {
            ThanhVien tv = (ThanhVien)Session["DangNhap"];
                    using (Html.BeginForm("DatHang","GioHang"))
                    {

                    
            <section class="delivery">
                <div class="container">
                    <div class="delivery-content row">
                        <div class="delivery-content-left">
                            <p>Vui lòng chọn địa chỉ giao hàng</p>
                            <div class="delivery-content-left-input-top row">
                                <div class="delivery-content-left-input-top-item">
                                    <label for="">Họ tên<span style="color: red;">*</span></label>
                                    <input type="text" value="@tv.HoTen" name="TenKH" class="tenkh">
                                </div>
                                <div class="delivery-content-left-input-top-item">
                                    <label for="">Điện thoại<span style="color: red;">*</span></label>
                                    <input type="number" value="@tv.SoDienThoai" name="SoDienThoai" class="sodienthoai">
                                </div>

                                <div class="delivery-content-left-input-top-item">
                                    <label for="">Địa chỉ<span style="color: red;">*</span></label>
                                    <input type="text" value="@tv.DiaChi" name="DiaChi" class="diachi">
                                </div>
                                <div class="delivery-content-left-input-top-item">
                                    <label for="">Email<span style="color: red;">*</span></label>
                                    <input type="email" value="@tv.Email" name="Email" class="email">
                                </div>
                                <div class="delivery-content-left-button row">
                                    <a href=""><span>«</span><p>Tiếp tục mua hàng</p></a>
                                    <button class="dathang" type="submit" style="font-weight: bold;">Đặt Hàng</button>
                                </div>
                            </div>

                        </div>
                    </div>
                    <h1>@ViewBag.Error</h1>
            </section>
            }
        }
        else
        {
            using (Html.BeginForm("DatHang", "GioHang"))
            {
            <section class="delivery">
                <div class="container">
                    <div class="delivery-content row">
                        <div class="delivery-content-left">
                            <p>Vui lòng chọn địa chỉ giao hàng</p>
                            <div class="delivery-content-left-input-top row">
                                <div class="delivery-content-left-input-top-item">
                                    <label for="">Họ tên<span style="color: red;">*</span></label>
                                    <input type="text" value="" name="TenKH" class="tenkh">
                                </div>
                                <div class="delivery-content-left-input-top-item">
                                    <label for="">Điện thoại<span style="color: red;">*</span></label>
                                    <input type="number" value="" name="SoDienThoai" class="sodienthoai">
                                </div>

                                <div class="delivery-content-left-input-top-item">
                                    <label for="">Địa chỉ<span style="color: red;">*</span></label>
                                    <input type="text" value="" name="DiaChi" class="diachi">
                                </div>
                                <div class="delivery-content-left-input-top-item">
                                    <label for="">Email<span style="color: red;">*</span></label>
                                    <input type="email" value="" name="Email" class="email">
                                </div>
                                <div class="delivery-content-left-button row">

                                    <button class="dathang" type="submit" style="font-weight: bold;">Đặt Hàng</button>
                                </div>
                            </div>

                        </div>
                    </div>
            </section>
            }
        }
    }

    else
    {
    }
    <script>
        $(".dathang").click(function () {
            var tenkh = $(".tenkh").val().toString();
            alert(tenkh)
            return false;
            //var sdt = $(".sodienthoai").val().toString();
            //var diachi = $(".diachi").val().toString();
            //if (tenkh == "" || sdt == "" || diachi == "") {
            //    alert("Vui long nhap du thong tin")
            //    return false;
            //}
            //if (isNaN(sdt) == true) {
            //    alert("So dien thoai khong dung")
            //    return false;
            //}

        });
    </script>