@using DoAnWeb.Models;
@model DonDatHang

@{
    ViewBag.Title = "DuyetDonHang";
    Layout = "~/Views/Layouts/AdminLayout.cshtml";
}
<h2 style="font-weight: bold; text-align: center; margin: 0px;">DUYỆT ĐƠN HÀNG</h2>
<hr />
@using (Html.BeginForm())
{
    <div class="chitietdonhang table">
        @{ IEnumerable<ChiTietDonDatHang> lstChiTietDH = ViewBag.ListChiTietDH as IEnumerable<ChiTietDonDatHang>;}
        <table class="table" id="table">
            <tr>
                <td colspan="4">
                    <table style="width:100%;" class="table">
                        <tr>
                            <td style="font-weight:bold">Mã Đơn Hàng: <br />@Html.Hidden("MaDDH", Model.MaDDH) <b style="color:red;">@Model.MaDDH </b></td>
                            <td style="font-weight:bold">Mã Khách Hàng: <br /><b style="color:red;">@Model.KhachHang.MaKH</b></td>
                            <td style="font-weight:bold">Tên Khách Hàng: <br /><b style="color:red;">@Model.KhachHang.TenKH</b></td>
                            <td style="font-weight:bold">Ngày Đặt: @Model.NgayDat.Value.ToString("dd/MM/yyyy")</td>
                            <td style="font-weight:bold">Đã Thanh Toán: @Html.EditorFor(n => n.DaThanhToan)</td>
                            <td style="font-weight:bold">Đã Giao Hàng: @Html.EditorFor(n => n.TinhTrangGiaoHang)</td>
                        </tr>
                    </table>
                </td>
                <br />
                <br />
                @* Thong tin chi tiet don hang *@
            </tr>
            <tr>
                <td><b>Sản Phẩm</b></td>
                <td><b>Hình Ảnh</b></td>
                <td><b>Số Lượng</b></td>
                <td><b>Đơn Giá</b></td>
            </tr>
            @foreach (var item in lstChiTietDH)
            {
                <tr>
                    <td>@item.SanPham.TenSP</td>
                    <td>
                        <div class="table-img">
                            <img width="150" height="100" src="@Url.Content("~/Content/images/"+item.SanPham.HinhAnh)" />
                        </div>
                    </td>
                    <td>@item.SoLuong</td>
                    <td>@item.DonGua.Value.ToString("#,##")</td>
                </tr>
            }

            <tr style="width:100%">
                <td colspan="4" align="right"><div style="font-weight:bold">Tổng Số Lượng: <b style="color:red;"> @Model.ChiTietDonDatHangs.Sum(n => n.SoLuong) sản phẩm</b></div></td>
            </tr>
            <tr>
                <td colspan="4" align="right"><div style="font-weight:bold">Tổng Tiền: <b style="color:red;"> @Model.ChiTietDonDatHangs.Sum(n => n.DonGua).Value.ToString("#,##") đồng</b></div></td>
            </tr>

        </table>

        <div class="donhang">
            <input type="button" value="IN ĐƠN HÀNG" id="btnInDonHang" class="btn-donhang" />
            <input type="submit" value="LƯU ĐƠN HÀNG" id="btnLuuDonHang" class="btn-donhang" />
        </div>
    </div>
}

<script>
    $("#btnInDonHang").click(function () {
        var content = "<table>" + $("#table").html() + "</table>";
        InDonHang(content);
    });

    function InDonHang(content) {
        var printwindow = window.open('', '', 'height= 400, width=800');
        printwindow.document.write('<html><head><title>HoaDon</title>');
        printwindow.document.write('</head><body >');
        printwindow.document.write(content);
        printwindow.document.write('</body></html>');
        printwindow.document.close();
        printwindow.print();
    }
</script>

