@using DoAnWeb.Models;
@model SanPham

@{
    ViewBag.Title = "XemChiTiet";
    Layout = "~/Views/Layouts/HeaderAndFooterLayout.cshtml";
}

<div class="containers">
    <div class="product-content row">
        <div class="product-content-left row">
            <div class="product-content-left-big-img">
                <img src="@Url.Content("~/Content/images/"+Model.HinhAnh)" alt="">
            </div>
           
        </div>
        <div class="product-content-right">
            <div class="product-content-right-product-name">
                <h1>@Model.TenSP</h1>
                <p>@Model.MaSP</p>
            </div>
            <div class="product-content-right-product-item" style="padding-top: 10px;">
                <div class="product-content-right-product-item-title">
                    Thông số sản phẩm
                </div>
                <p class="product-content-right-product-item-ul">
                   @Html.Raw(Model.CauHinh)
                </p>
            </div>
            <div class="product-content-right-product-price">
                <table>
                    <tbody>
                        <tr>
                            <td width="130px" class="font-600">
                                Giá niêm yết:
                            </td>
                            <td>
                                @{ decimal gianiemyet = Model.DonGia.Value * 100 / 80;}
                                <del style="color: #888888;" class="font-600">
                                    @gianiemyet.ToString("#,##")
                                </del>
                            </td>
                        </tr>
                        <tr>
                            <td width="130px" class="font-600">
                               Giá khuyễn mãi:
                            </td>
                            <td>
                                <b style="color: #ce0707;" class="text-18">@Model.DonGia.Value.ToString("#,##") đ</b>
                                <span style="color: #888888;" class="text-12">
                                    [Giá đã có VAT]
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            
            <div class="product-content-right-product-button">

                
                @Ajax.ActionLink("Thêm Vào Giỏ Hàng", "ThemGioHangAjax", "GioHang", new { @MaSP = Model.MaSP, @strURL = Request.Url.ToString() },
                 new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "count_shopping_cart_store", InsertionMode = InsertionMode.Replace }
                , new { @class = "themgiohang" })
     
                <a class="themgiohang" href="@Url.Action("XemGioHang","GioHang")">
                   Đi đến giỏ hàng
                </a>

            </div>
           

        </div>
    </div>
</div>

<style>
    .themgiohang {
        width: 100%;
        height: 50px;
        padding: 20px;
        color: white;
        background-color: red;
    }
    }
</style>
