
@using DoAnWeb.Models;

@model IEnumerable<SanPham>

@{
    ViewBag.Title = "XemTatCaSanPham";
    Layout = "~/Views/Layouts/HomeLayout.cshtml";
}


<div class="home-pro-hot box-pro-container bg-white pb-2">
    <div class="box-title-container">
        <h2 class="box-title">Tất cả @Model.First().LoaiSanPham.TenLoai</h2>
    </div>

    <div class="p-container" style="min-height: 700px">
        <div class="d-flex flex-wrap">
            @foreach (var item in Model)
            {
                <div class="p-item">
                    <img src="@Url.Content("~/Content/images/"+item.HinhAnh)" height="200" width="200" alt="">
                    <h1 class="p-sku" style="font-size: 12px;">Mã SP @item.MaSP</h1>
                    <a href="" class="p-name" style="font-weight:bold">@item.TenSP</a>
                    <div class="price-container">
                        @{
                            decimal temp = item.DonGia.Value * 100 / 80;
                        }
                        <del class="p-old-price"> @temp.ToString("#,##") đ </del>
                        <span class="p-discount"> -20% </span>
                        <span class="p-price"> @item.DonGia.Value.ToString("#,##") đ</span>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

